<ion-header>
  <ion-toolbar color="principal">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>iLook</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>

      <ion-item>
        <ion-label position="floating" color="principal">CEP:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="principal">Rua:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="principal">Bairro:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="principal">Cidade:</ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="principal">Estado:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="principal">Nº:</ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="principal">Complemento:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="principal">Obs:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-button expand="full" fill="solid" color="principal">Adicionar</ion-button>

    </ion-list>

    <ion-list>
      <h2>Endereços adiconados</h2>
      <ion-item>
        Rua teste teste teste
        <ion-fab>
          <ion-fab-button vertical="top" slot="end">
            <ion-icon name="home"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-item>
    </ion-list>

    <ion-button expand="full" fill="solid" color="principal">Salvar Alterações</ion-button>


</ion-content>
