.center{
  height: 100vh;
  display:flex;
  align-items: center;
  ion-card{
    width: 100%;
  }
}

.button-small{
  font-size: 0.8rem;
  align-items: center;
}

.validation-errors{
  .error-message{
    color: red;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
  }
}
