<ion-header>
  <ion-toolbar color="principal">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>iLook</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="principal">Método de Pagamento:</ion-label>
      <ion-select value="" color="principal" okText="ok" cancelText="cancelar" (ionChange)="exibeCartao($event)" [(ngModel)]="cart.paymentSales">
        <ion-select-option value="DEBITO">Cartão de Débito</ion-select-option>
        <ion-select-option value="CREDITO">Cartão de Crédito</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="hidden">
    <ion-item>
      <ion-label position="floating" color="principal">Número:</ion-label>
      <ion-input type="text" [(ngModel)]="card.numero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="principal">CVV:</ion-label>
      <ion-input type="text" [(ngModel)]="card.cvc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="principal">Validade:</ion-label>
      <ion-input type="date" [(ngModel)]="card.validade" placeholder=""></ion-input>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="usuarioLogado">
    <ion-radio-group [(ngModel)]="cart.deliveryEnds">
      <ion-list-header>
        <ion-label color="principal">Endereço de entrega:</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let e of usuarioLogado.endsUsers">
        <ion-label color="principal">{{e.streetEndereco}}</ion-label>
        <ion-radio slot="start" [value]="e.idEndereco"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <ion-item>
    <ion-label color="principal" position="floating">Obs:</ion-label>
    <ion-textarea [(ngModel)]="cart.obsSales" placeholder="Se necessário, digite aqui informações extras..."></ion-textarea>
  </ion-item>

  <ion-item>
    <p>Valor total da Compra: {{cart.valueSales | currency: 'BRL'}}</p>
  </ion-item>

  <ion-button expand="full" shape="round" fill="outline" color="principal" (click)="comprar()">Comprar</ion-button>
</ion-content>
