<ion-header [translucent]="true">
  <ion-toolbar color="principal">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="openCart()">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        <ion-badge *ngIf="cartItemCount | async" color="success" style="position: absolute; right: -5px; top: -3px;">
          {{ cartItemCount | async }}
        </ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">iLook</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="light">

  <!--**********SEARCHBAR**********-->
  <ion-searchbar (ionChange)="buscarProduto($event)" placeholder="Buscar"></ion-searchbar>
  <!--**********SEARCHBAR**********-->

  <!--**********CATEGORIAS**********-->
  <ion-toolbar color="principal">
    <ion-segment value="all" [(ngModel)]="filtroSelecionado" (ionChange)="filtroChange($event)">
      <ion-segment-button value="all">
        <ion-icon name="bag-outline"></ion-icon>
        Todos
      </ion-segment-button>
      <ion-segment-button value="high">
        <ion-icon name="star-outline"></ion-icon>
        Destaques
      </ion-segment-button>
      <ion-segment-button value="organic">
        <ion-icon name="leaf-outline"></ion-icon>
        Orgânicos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <!--**********CATEGORIAS**********-->


  <ion-grid class="ion-text-center">
    <ion-row *ngIf="listaProdutosAPI">

      <!--**********PRODUTOS**********-->
      <ion-col size="6" *ngFor="let produto of listaProdutosAPI">
        <ion-card *ngFor="let imagem of produto.imgProducts; first as isFirst; index as i">
          <img *ngIf="isFirst" src="{{imagem.pathFile+'/'+imagem.nameFile}}" (click)="exibeDetalheProduto(produto)" />
          <ion-card-header>
            <ion-card-subtitle>{{produto.pSaleProducts | currency: 'BRL'}}</ion-card-subtitle>
            <ion-card-title>{{produto.nameProducts}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button shape="round" fill="outline" color="principal" size="small" (click)="addAoCarrinho(produto)">
              <ion-icon name="add-circle-outline">add</ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!--**********PRODUTOS**********-->

      <!--**********NO-SEARCH**********-->
      <ion-col size="12" *ngIf="listaProdutosAPI.length === 0">
        <ion-card class="noSearch">
          <img src="" />
          <ion-card-header>
            <ion-card-title color="principal">
              :(
            </ion-card-title>
            <ion-card-subtitle>
              Nenhum resultado encontrado
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            tente usar palavras-chave diferentes
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!--**********NO-SEARCH**********-->
    </ion-row>
  </ion-grid>

  <!--**********INFINIT-SCROLL**********--
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  --**********INFINIT-SCROLL**********-->



</ion-content>
