ion-card {
  margin: 0.1rem;

  ion-card-header {
    padding: 0.2rem;

    ion-card-subtitle {
      font-weight: none;
      font-size: 0.8rem;
    }

    ion-card-title {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  ion-card-content {
    padding: 0.2rem;
  }
}

.noSearch {
  ion-card-header {
    padding: 0.2rem;

    ion-card-subtitle {
      font-weight: bold;
      font-size: 1.2rem;
    }

    ion-card-title {
      font-weight: bold;
      font-size: 5rem;
    }
  }

  ion-card-content {
    padding: 0.2rem;
  }
}

ion-toolbar {
  ion-segment {
    ion-segment-button {
      font-size: 0.5rem;
      padding-bottom: 0.3rem;
    }
  }
}

ion-col {
  padding: 0;
}

ion-content {
  // overwrite inline styles
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  background-color:#f4f5f8;
}

button {
	ion-badge {
		position: absolute;
		top: -0.2rem;
		right: -0.2rem;
		opacity: 0.9;

		& ~ ion-icon {
			margin-right: 1.2rem;
		}
	}
}


