<ion-header>
  <ion-toolbar color="principal">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>iLook</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" shape="round" fill="outline" color="principal" (click)="cadEnd()">Editar Endereços
  </ion-button>
  <h2>Endereços de Entrega cadastrados</h2>
  <ion-list padding *ngIf="usuarioLogado">
    <ion-item lines="full" *ngFor="let e of usuarioLogado.endsUsers">
      <p>Rua: {{e.streetEndereco}}</p>
      <p>nº: {{e.numberEndereco}}</p>

    </ion-item>
  </ion-list>

</ion-content>
